
<div id="nav">
    <div id="navHome"><a [routerLink]="['/home']">Review Everything!</a></div>
    <form id="search" #search = "ngForm" (ngSubmit) = "onSearchSubmit(search.value, search.typeOfSearch)" >
        <select name="typeOfSearch" value="title" ngModel>
            <option value="" selected disabled hidden> 
                Select an Option 
            </option>
            <option value="title">Movie Name</option>
            <option value="actor">Actor</option>
            <option value="genre">Genre</option>
        </select>
        <input id="searchInput" type="text" name="movieSearch" placeholder="Search for movie" ngModel>
        <br/>
        <input id="searchButton" type="image" src="../assets/search.png" alt="Submit">
    </form>
    <div id="profileButton"><a [routerLink]="['/profile']">Profile</a></div>
</div>

<router-outlet></router-outlet>