<form [formGroup]="usernameForm" (ngSubmit) = "updateUsername()" >
  <label for="usernameInput">Edit username</label>
  <input formControlName='usernameInput' id='usernameInput' value ='{{user.username}}' type="text" [ngClass]="{ 'is-invalid': usernameSubmitted && usernameEr.usernameInput.errors }" />
  <div *ngIf="usernameSubmitted && usernameEr.usernameInput.errors" class="invalid-feedback">
    <div *ngIf="usernameEr.usernameInput.errors.required">username must be valid</div>
  </div>
  <input type = "submit" value = "submit">
</form>
<form [formGroup]="emailForm" (ngSubmit) = "updateEmail()" >
  <label for="emailInput">Edit email</label>
  <input formControlName='emailInput' id='emailInput' type="text" value ='{{user.email}}' [ngClass]="{ 'is-invalid': emailSubmitted && emailEr.emailInput.errors }" />
  <div *ngIf="emailSubmitted && emailEr.emailInput.errors" class="invalid-feedback">
    <div *ngIf="emailEr.emailInput.errors.required">email must be valid</div>
  </div>
  <input type = "submit" value = "submit">
</form>
<form [formGroup]="passwordForm" (ngSubmit) = "updatepassword()" >
  <label for="passwordInput">Edit password</label>
  <input formControlName='passwordInput' id='passwordInput' type="password" [ngClass]="{ 'is-invalid': passwordSubmitted && passwordEr.passwordInput.errors }" />
  <div *ngIf="passwordSubmitted && passwordEr.passwordInput.errors" class="invalid-feedback">
    <div *ngIf="passwordEr.passwordInput.errors.required">password must be valid</div>
  </div>
  <input type = "submit" value = "submit">
</form>