<div *ngIf="currentId == paramsId">
  <form [formGroup]="usernameForm" (ngSubmit)="updateUsername()">
    <label for="usernameInput">Edit username</label>
    <input formControlName='usernameInput' id='usernameInput' value='{{checkUser[0].username}}' type="text"
      [ngClass]="{ 'is-invalid': usernameSubmitted && usernameEr.usernameInput.errors }" />
    <div *ngIf="usernameSubmitted && usernameEr.usernameInput.errors" class="invalid-feedback">
      <div *ngIf="usernameEr.usernameInput.errors.required">username must be valid</div>
    </div>
    <input type="submit" value="submit">
  </form>
  <form [formGroup]="emailForm" (ngSubmit)="updateEmail()">
    <label for="emailInput">Edit email</label>
    <input formControlName='emailInput' id='emailInput' type="text" value='{{checkUser[0].email}}'
      [ngClass]="{ 'is-invalid': emailSubmitted && emailEr.emailInput.errors }" />
    <div *ngIf="emailSubmitted && emailEr.emailInput.errors" class="invalid-feedback">
      <div *ngIf="emailEr.emailInput.errors.required">email must be valid</div>
    </div>
    <input type="submit" value="submit">
  </form>
  <form [formGroup]="passwordForm" (ngSubmit)="updatepassword()">
    <label for="passwordInput">Edit password</label>
    <input formControlName='passwordInput' id='passwordInput' type="password"
      [ngClass]="{ 'is-invalid': passwordSubmitted && passwordEr.passwordInput.errors }" />
    <div *ngIf="passwordSubmitted && passwordEr.passwordInput.errors" class="invalid-feedback">
      <div *ngIf="passwordEr.passwordInput.errors.required">password must be valid</div>
    </div>
    <input type="submit" value="submit">
  </form>
  <div id="reviewCard" *ngFor="let review of reviews">
    <form [formGroup]="reviewForm" id="reviewForm" (ngSubmit)="updateReview(review)">
      <label for="reviewTitle">Title: </label>
      <input formControlName='reviewTitle' value={{review.review_title}} id="reviewTitle" type="text" maxlength="100"
        [ngClass]="{ 'is-invalid': reviewSubmitted && reviewEr.reviewTitle.errors }">
      <div *ngIf="reviewSubmitted && reviewEr.reviewTitle.errors" class="invalid-feedback">
        <div *ngIf="reviewEr.reviewTitle.errors.required">Title is required</div>
      </div>
      <br />
      <label for="reviewText">Description: </label>
      <textarea formControlName='reviewText' value={{review.review_text}} id="reviewText" maxlength="200"
        [ngClass]="{ 'is-invalid': reviewSubmitted && reviewEr.reviewText.errors }"></textarea>
      <div *ngIf="reviewSubmitted && reviewEr.reviewText.errors" class="invalid-feedback">
        <div *ngIf="reviewEr.reviewText.errors.required">Review text is required</div>
      </div>
      <br />
      <label for="reviewRating">Rating: </label>
      <select formControlName='reviewRating' id="rating"
        [ngClass]="{ 'is-invalid': reviewSubmitted && reviewEr.reviewRating.errors }">
        <option value="none" selected disabled hidden>
          {{review.rating}}
        </option>
        <option value="0">0</option>
        <option value="0.5">0.5</option>
        <option value="1">1</option>
        <option value="1.5">1.5</option>
        <option value="2">2</option>
        <option value="2.5">2.5</option>
        <option value="3">3</option>
        <option value="3.5">3.5</option>
        <option value="4">4</option>
        <option value="4.5">4.5</option>
        <option value="5">5</option>
      </select> / 5
      <div *ngIf="reviewSubmitted && reviewEr.reviewRating.errors" class="invalid-feedback">
        <div *ngIf="reviewEr.reviewRating.errors.required">review rating is required</div>
      </div>
      <br />
      <input type="submit" value="submit">
    </form>
  </div>
</div>
<button *ngIf="checkUser[0].is_admin == 1" (click)="deleteUser()">Delete User</button>