#what_to_watch {
    margin: auto;
    width: fit-content;
    padding: 10px 10%;
    text-align: center;
    font-size: 28px;
    background-color: rgba(42, 85, 140, 0.8);
    -webkit-filter: drop-shadow(5px 5px 5px #000);
    filter: drop-shadow(5px 5px 5px #000);
}

#popularMovies {
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: auto;
    justify-content: center;
}

#background {
    background-size: cover;
    background-repeat: no-repeat;
}

#movie_card {
    display: flex;
    margin: 10px;
    width: 200px;
    flex-direction: column;
    margin-bottom: 90px;
    height: 300px;
    -webkit-filter: drop-shadow(5px 5px 5px #000);
    filter: drop-shadow(5px 5px 5px #000);
}

#movie_poster {
    width: 100%;
}

#movie_title {
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

#movie_text {
    min-height: 60px;
    padding: 5px;
    background-color: rgb(42, 85, 140);
    background-color: rgba(42, 85, 140, 0.6);
}

#release_date {
    font-size: 18px;
    margin-left: 10px;
    padding-top: 0px;
}

#searchText {
    margin: 0;
    text-align: center;
}

a {
    text-decoration : none;
    color: white;
}

@media screen and (max-width: 800px) {
    #what_to_watch {
        margin-top: 100px;
    }
    #popularMovies {
        margin-bottom: 100px;
    }
}