
<div id="holder">
    <h3>Login</h3>
    <form [formGroup]="loginForm" (ngSubmit) = "onLogin()" >
        <label for="email">email: </label>
        <input formControlName='loginEmail' type="email" [ngClass]="{ 'is-invalid': loginSubmitted && loginEr.loginEmail.errors }" />
        <div *ngIf="loginSubmitted && loginEr.loginEmail.errors" class="invalid-feedback">
            <div *ngIf="loginEr.loginEmail.errors.required">Email is required</div>
            <div *ngIf="loginEr.loginEmail.errors.loginEmail">Email must be a valid email address</div>
        </div>
        <br/>

        <label for="password">password: </label>
        <input formControlName='loginPassword' type="password" [ngClass]="{ 'is-invalid': loginSubmitted && loginEr.loginPassword.errors }"/>
        <div *ngIf="loginSubmitted && loginEr.loginPassword.errors" class="invalid-feedback">
            <div *ngIf="loginEr.loginPassword.errors.required">Password is required</div>
            <div *ngIf="loginEr.loginPassword.errors.minlength">Password must be at least 6 characters</div>
        </div>
        <br/>
        <input type = "submit" value = "submit">
    </form>
    
    <h3>Signup</h3>
    <form [formGroup]="signupForm" (ngSubmit) = "onSignup()" >
        <label for="username">Username: </label>
        <input formControlName='username' type="text" [ngClass]="{ 'is-invalid': signupSubmitted && signEr.username.errors }">
        <div *ngIf="signupSubmitted && signEr.username.errors" class="invalid-feedback">
            <div *ngIf="signEr.username.errors.required">Username is required</div>
        </div>
        <br/>
        <label for="email">Email: </label>
        <input formControlName='email' type="email" [ngClass]="{ 'is-invalid': signupSubmitted && signEr.email.errors }">
        <div *ngIf="signupSubmitted && signEr.email.errors" class="invalid-feedback">
            <div *ngIf="signEr.email.errors.required">Email is required</div>
            <div *ngIf="signEr.email.errors.email">Email must be a valid email address</div>
        </div>
        <br/>

        <label for="fname">First Name: </label>
        <input formControlName='fname' type="text" [ngClass]="{ 'is-invalid': signupSubmitted && signEr.fname.errors }">
        <div *ngIf="signupSubmitted && signEr.fname.errors" class="invalid-feedback">
            <div *ngIf="signEr.fname.errors.required">First Name is required</div>
        </div>
        <br/>

        <label for="lname">Last Name: </label>
        <input formControlName='lname' type="text"  [ngClass]="{ 'is-invalid': signupSubmitted && signEr.lname.errors }">
        <div *ngIf="signupSubmitted && signEr.lname.errors" class="invalid-feedback">
            <div *ngIf="signEr.lname.errors.required">Last Name is required</div>
        </div>
        <br/>

        <label for="password">Password: </label>
        <input formControlName='password' type="password" [ngClass]="{ 'is-invalid': signupSubmitted && signEr.password.errors }">
        <div *ngIf="signupSubmitted && signEr.password.errors" class="invalid-feedback">
            <div *ngIf="signEr.password.errors.required">Password is required</div>
            <div *ngIf="signEr.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
        <br/>

        <!-- <label for="confirmPassword">confirm Password: </label>
        <input formControlName='confirmPassword' type="password" [ngClass]="{ 'is-invalid': signupSubmitted && signEr.confirmPassword.errors }">
        <div *ngIf="signupSubmitted && signEr.confirmPassword.errors" class="invalid-feedback">
            <div *ngIf="signEr.confirmPassword.errors.required">Confirm Password is required</div>
            <div *ngIf="signEr.confirmPassword.errors.mustMatch">Passwords must match</div>
        </div>
        <br/> -->
        <input type = "submit" value = "submit">
    </form>
    
    <form (ngSubmit) = "onLogout()" > 
        <input type = "submit" value = "logout">
    </form>
 
    

    <br>

    <!-- <div id="trendingMovies">
        <div *ngFor="let movie of trendingMovies">
            <p>{{movie.original_title}}</p>
        </div>
    </div> -->
</div>