
<h3>Login</h3>
<form #login = "ngForm" (ngSubmit) = "onLogin(login.value)" >
    <label for="email">username: </label>
    <input type="email" name="username" placeholder="" ngModel>
    <br/>
    <label for="password">password: </label>
    <input type="password" name="password" placeholder="" ngModel>
    <br/>
    <input type = "submit" value = "submit">
</form>

<br>
<h3>Search for a movie</h3>

<form #search = "ngForm" (ngSubmit) = "onSearchSubmit(search.value)" >
    <input type="search" name="movieSearch" placeholder="Search for movie" ngModel>
    <br/>
    <input type = "submit" value = "submit">
</form>

<!-- <div id="trendingMovies">
    <div *ngFor="let movie of trendingMovies">
        <p>{{movie.original_title}}</p>
    </div>
</div> -->