<h2 id="what_to_watch">Popular movies this week:</h2>
<div id="popularMovies">
    <div *ngFor="let result of popularMovies">
        <div id="movie_holder">
            <a [routerLink]="['/movie', result.id]">
                <div id="movie_card">
                    <img id="movie_poster" src="https://image.tmdb.org/t/p/original/{{result.poster_path}}" alt="Movie Poster">
                    <div id="movie_text">
                        <p id="movie_title">{{ result.title }}</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>