<h2 id="searchText">{{searchDescription}}</h2>
<div id="movie_search_holder" *ngIf="searchType == 'title' || searchType == 'actors_movies' || searchType == 'actors_movies' || searchType == 'genre'">
    <div *ngFor="let result of searchList">
        <a [routerLink]="['/movie', result.id]">
            <div id="movie_card" [ngStyle]="{'background-image': 'url(https://image.tmdb.org/t/p/original/' + result.backdrop_path + ')'}">
                <div *ngIf="result.poster_path">
                    <img id="movie_poster" src="https://image.tmdb.org/t/p/original/{{result.poster_path}}" alt="Movie Poster">
                </div>
                <div *ngIf="!result.poster_path">
                    <img id="movie_poster" src="../assets/poster-placeholder.jpg" alt="Movie Poster">
                </div>
                <div id="movie_text">
                    <p id="movie_title">{{ result.title }}</p>
                    <p id="release_date">({{ result.release_date }})</p>
                </div>
            </div>
        </a>
    </div>
</div>

<!-- <h2 id="searchText">{{searchDescription}}</h2> -->
<div id="movie_search_holder" *ngIf="searchType == 'actor'">
    <div *ngFor="let result of searchList">
        <a [routerLink]="['/search/actors_movies', result.id, result.name]">
            <div id="movie_card">
                <div *ngIf="result.profile_path">
                    <img id="movie_poster" src="https://image.tmdb.org/t/p/original/{{result.profile_path}}" alt="Movie Poster">
                </div>
                <div *ngIf="!result.profile_path">
                    <img id="movie_poster" src="../assets/defaultProfile.png" alt="Movie Poster">
                </div>
                <div id="movie_text">
                    <p id="movie_title">{{ result.name }}</p>
                    <p *ngIf="result.gender == 1" id="release_date">Female</p>
                    <p *ngIf="result.gender == 2" id="release_date">Male</p>
                </div>
            </div>
        </a>
    </div>
</div>
