<div id="holder" *ngIf="isLoaded">
    <div id="movieHolder">
        <div id="movie_details" [ngStyle]="{'background-image': 'url(https://image.tmdb.org/t/p/original/' + movies.backdrop_path + ')'}">
            <div id="details_holder">
                <img id="movie_poster" src="https://image.tmdb.org/t/p/original/{{movies.poster_path}}" alt="Movie Poster">
                <div id="text_holder">
                    <div id="title_holder">
                        <h1 id="title">{{movies.original_title}}</h1>
                        <p id="release_date">({{movies.release_date}})</p>
                    </div>
                    <p id="tagline">{{movies.tagline}}</p>
                    <p id="description">{{movies.overview}}</p>

                    <div id="more_details">
                        <h2>More details</h2>
                        <p id="runtime"><b>Runtime: </b>{{movies.runtime}} minutes</p>
                        <p id="budget"><b>Budget: </b>${{movies.budget}}</p>
                        <p id="revenue"><b>Revenue: </b>${{movies.revenue}}</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- 
        genres
        vote_average/ vote_count
        homepage?
        production_companies? 
        -->
    </div>

    <div id="reviewSection">
        <div>
            <h1>{{movies.original_title}}'s Reviews</h1>
            <form id="reviewForm" #review = "ngForm" (ngSubmit) = "onReviewSubmit(review.value)" >
                <label for="reviewTitle">Title: </label>
                <input id="reviewTitle" type="text" name="reviewTitle" maxlength="100" ngModel>
                <br/>
                <label for="reviewText">Description: </label>
                <textarea maxlength="150" id="reviewText" name="reviewText" maxlength="500" ngModel></textarea>
                <br/>
                <label for="reviewRating">Rating: </label>
                <select id="rating" name="reviewRating" ngModel>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select> / 5
                <br/>
                <input type = "submit" value = "submit">
            </form>
        </div>
        <hr>
        <div id="allReviews">
            <h3>User Reviews</h3>
            <hr>
            <div id="reviewCard" *ngFor="let review of reviews">
                <button *ngIf="user[0].is_admin == 1" (click) = "deleteReview({ id: review.id  })">Delete</button>
                <button  *ngIf="currentUserId == review.user_id" (click) = "populateEditForm({reviewTitle: review.review_title, reviewText: review.review_text, reviewRating: review.rating, id: review.id})">edit</button>
                <p>{{review.review_title}} - {{review.rating}} / 5</p>
                <p>by {{review.username}}</p>
                <p>{{review.review_text}}</p>
                <hr>
            </div>
        </div>
    </div>

</div>

<ng-template #elseBlock>
    <h1>Loading</h1>
</ng-template>