<div id="holder" *ngIf="isLoaded">
    <div id="movieHolder">
        <div id="movie_details" [ngStyle]="{'background-image': 'url(https://image.tmdb.org/t/p/original/' + movies.backdrop_path + ')'}">
            <div id="details_holder">
                <div *ngIf="movies.poster_path">
                    <img id="movie_poster" src="https://image.tmdb.org/t/p/original/{{movies.poster_path}}" alt="Movie Poster">
                </div>
                <div *ngIf="!movies.poster_path">
                    <img id="movie_poster" src="../assets/poster-placeholder.jpg" alt="Movie Poster">
                </div>
                <div id="text_holder">
                    <div id="title_holder">
                        <h1 id="title">{{movies.title}}</h1>
                        <p id="release_date">({{movies.release_date}})</p>
                    </div>
                    <p id="tagline">{{movies.tagline}}</p>
                    <p id="description">{{movies.overview}}</p>
                    <div id="more_details">
                        <p id="runtime"><b>Runtime: </b>{{movies.runtime}} minutes</p>
                        <p id="budget"><b>Budget: </b>${{movies.budget}}</p>
                        <p id="revenue"><b>Revenue: </b>${{movies.revenue}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Recomend movies -->

    <div id="reviewSection">
        <div>
            <h1 id="reveiw_seaction_header">{{movies.title}}'s Reviews</h1>
            <hr>
            <form [formGroup]="reviewForm" id="reviewForm" (ngSubmit) = "onReviewSubmit()" >
                <br/>
                <textarea formControlName='reviewText' id="reviewText" maxlength="200" [ngClass]="{ 'is-invalid': reviewSubmitted && reviewEr.reviewText.errors }" placeholder="Leave your own review"></textarea>
                <div *ngIf="reviewSubmitted && reviewEr.reviewText.errors" class="invalid-feedback">
                    <div *ngIf="reviewEr.reviewText.errors.required">review text is required</div>
                </div>
                <br/>
                <label for="reviewRating">Rating: </label>
                <br/>
                <!-- <ngx-stars (ratingOutput)="onRatingSet($event)" [maxStars]="5"></ngx-stars> -->
                <br/>
                <input type = "submit" value = "submit">
            </form>
        </div>
        <div id="allReviews">
            <h3>User Reviews</h3>
            <hr>
            <div id="reviewCard" *ngFor="let review of reviews">
                <button *ngIf="user[0].is_admin == 1 || currentUserId == review.user_id" (click) = "deleteReview({ id: review.id  })">Delete</button>
                <button  *ngIf="currentUserId == review.user_id" (click) = "populateEditForm({reviewTitle: review.review_title, reviewText: review.review_text, reviewRating: review.rating, id: review.id})">edit</button>
                <p>{{review.review_title}}</p>
                <!-- <ngx-stars [readonly]="true" [maxStars]="5" [initialStars]="review.rating"></ngx-stars> -->
                <p>by {{review.username}}</p>
                <p>{{review.review_text}}</p>
                <hr>
            </div>
        </div>
    </div>

</div>

<ng-template #elseBlock>
    <h1>Loading</h1>
</ng-template>

<div id="edit_modal" class="modal">
    <form [formGroup]="reviewForm" id="reviewForm" (ngSubmit) = "onReviewSubmit()" >
        <div id="edit_form">
            <label for="reviewText">Description: </label>
            <textarea formControlName='editReviewText' class="form_input" id="reviewText"maxlength="200" [ngClass]="{ 'is-invalid': reviewSubmitted && reviewEr.reviewText.errors }"></textarea>
            <div *ngIf="reviewSubmitted && reviewEr.reviewText.errors" class="invalid-feedback">
                <div *ngIf="reviewEr.reviewText.errors.required">review text is required</div>
            </div>
            <br/>
            <label for="reviewRating">Rating: </label>
            <!-- <ngx-stars (ratingOutput)="onRatingSet($event)" [maxStars]="5"></ngx-stars> -->
            <star-rating id="newStar" value="{{ newRating }}" totalstars="0" checkedcolor="crimson" uncheckedcolor="black" size="24px" readonly="true"></star-rating>
            <!-- <div *ngIf="reviewSubmitted && reviewEr.reviewRating.errors" class="invalid-feedback">
                <div *ngIf="reviewEr.reviewRating.errors.required">review rating is required</div>
            </div> -->
            <br/>
            <div id="btn_holder">
                <input class="form_buttons" type="button" onclick="document.getElementById('edit_modal').style.display='none'" value = "Cancel"/>
                <input class="form_buttons" type="submit" value = "edit">
            </div>
        </div>
    </form>
</div>